@import url(https://fonts.googleapis.com/css?family=Kalam:300,regular,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page {
  display: flex;
  flex-direction: column;
  justify-items: start;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 2% 2%;
  background-color: #FF7400;
}

.header__logo {
  font-family: Impact;
  font-size: 50px;
}

.header__currentTitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header__log-in {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0.5em 0;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-items: start;
  width: 100%;
  min-height: 853px;
}

.aside {
  width: 15%;
  padding: 0 0 0 2%;
  background-color: #A63E00;
}

.nav {
  width: 100%;
  font-size: 2rem;
  background-color: #A63E00;
}

.nav__ul {
  width: 100%;
  list-style-type: none;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.nav__li {
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.nav__li.active {
  background-color: #FFB273;
}

.main {
  width: 85%;
  padding: 0 2%;
  background-color: #FFB273;
}
/*-------------------------------home----------------------------------*/
.main__home-title {
  margin-top: 5%;
  margin-bottom: 2%;
  font-family: 'Kalam';
  font-size: 4rem;
  text-align: center;
}

.main__home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content:space-around;
  padding: 0 5%;
  height: 800px;
}

.main__home-box {
width: 460px;
height: 360px;
margin-bottom: 30px;
}

.main__home-img {
  width: 80px;
  height: 80px;
  margin-left: 170px;
  margin-bottom: 30px;
  background-color: #FF7400;
  cursor: pointer;
}

.main__home-img:focus,
.main__home-img:hover {
  transform: scale(1.4);
  transition: 0.4s;
}

.main__home-text {
  display: block;
  font-family: 'Kalam';
  font-size: 40px;
}

/*----------------------------------statistics------------------------------------*/

.main__statistics-title {
  margin-top: 5%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 6rem;
  
}

.main__statistics__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.main__statistics__containerWords {
  display: flex;
  flex-direction: column;
}

.main__statistics__boxWords-words-count {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 6rem;
}

.main__statistics__boxWords-p1 {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2rem;
}

.main__statistics__boxWords-p2 {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;
}

.main__statistics__boxAccuracy {
  margin-top: 20%;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 4rem;
}

.main__statistics__containerGames {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
}

.main__statistics__boxGames {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2rem;
}

.main__statistics__boxGames-img {
  margin: auto;
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: #A63E00;
}

.main__statistics__boxGames-nameGame {
  font-family: 'Kalam';
  font-size: 40px;
}

/*--------------------------------end statistics----------------------------------*/

.textbook__games {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-around;
}

.textbook__games button {
  height: 50px;
  width: 100px;
  border: none;
}

.textbook__cards-groups,
.textbook__cards-pages {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  width: 360px;
  list-style-type: none;
}

.textbook__cards-pages {
  width: 540px;
}

.textbook__cards-groups li,
.textbook__cards-pages li {
  width: 40px;
  margin: 0 10px;
}

.cards-groups__group-button,
.cards-pages__page-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
}

.cards-pages__page-button {
  border-radius: 20%;
}

.cards-pages__page-button {
  cursor: pointer;
}

.active-group-button,
.active-page-button {
  background: red;
  pointer-events: none;
  cursor: none;
}

.page-un-button {
  pointer-events: none;
  cursor: none;
}

.textbook__cards-block {
  min-height: 2000px;
}

.cards-block__card {
  display: flex;
  margin-top: 30px;
}

.main__games {
  display: flex;
  justify-content: space-around;
}

.main__games-audio {
  height: 200px;
  width: 400px;
  margin-top: 300px;
  border: 1px solid black;
  text-align: center;
}

.main__games-sprint {
  height: 200px;
  width: 400px;
  margin-top: 300px;
  border: 1px solid black;
  text-align: center;
}

.main__about {
  display: flex;
  justify-content: space-around;
}

.about-kirill {
  width: 400px;
  margin-top: 200px;
  border: 1px solid black;
  text-align: center;
}

.about-igor {
  width: 400px;
  margin-top: 200px;
  border: 1px solid black;
  text-align: center;
}

.about_avatar {
  width: 350px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  background-color: #FF7400;
  padding: 0 2%;
}

.footer__author {
  text-decoration: none;
  color: #000000;
}

.footer__author:focus,
.footer__author:hover {
  color: #67E667;
}

/*-----------Game-Audio-levels--------------------------*/

.main__games__audio-challange-levels,
.main__games__sprint-levels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.main__games__audio-challange-levels__head,
.main__games__sprint-levels__head {
  font-family: 'Kalam';
  font-size: 4rem;
}

.main__games__audio-challange-levels__title,
.main__games__sprint-levels__title {
  font-family: 'Roboto';
  font-size: 2rem;
}

.main__games__audio-challange-levels__container,
.main__games__sprint-levels__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.main__games__audio-challange-levels-group,
.main__games__sprint-levels-group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #A63E00;
  cursor: pointer;
}

.main__games__audio-challange-levels-group:hover,
.main__games__sprint-levels-group:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

.main__games__audio-challange-levels__back,
.main__games__sprint-levels__back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 1.2rem;
  background-color: #A63E00;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}

/*-----------Game-Audio--------------------------*/

.main__games__audio-challange {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
  height: 100%;
}

.main__games__audio-challange-img {
  width: 390px;
  height: 260px;
  background-color: #5CCCCC;
}

.sprint__button-sound,
.main__games__audio-challange-buttonSound {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: no-repeat center url('../src/assets/svg/sound.svg');
  background-color: #4671D5;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}

.sprint__button-sound:hover,
.main__games__audio-challange-levels__button:hover,
.main__games__audio-challange-buttonSound:hover,
.main__games__audio-challange-buttonSkip:hover,
.main__games__audio-challange-buttonNext:hover,
.main__games__audio-challange__buttonAnswer:hover {
  transform: translateY(-3px);
  transition: 0.4s;
  box-shadow: 10px 10px 10px 0px rgba(34, 60, 80, 0.55);
}

.sprint__button-sound:active,
.main__games__audio-challange-levels__button:active,
.main__games__audio-challange-buttonSound:active,
.main__games__audio-challange-buttonSkip:active,
.main__games__audio-challange-buttonNext:active,
.main__games__audio-challange__buttonAnswer:active {
  transform: translateY(5px);
  transition: 0.1s;
  box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.55);
}


.main__games__audio-challange-buttonSkip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-size: 1.7rem;
  border-radius: 10px;
  background-color: #FF4040;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}

.main__games__audio-challange-buttonNext {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-size: 1.7rem;
  border-radius: 10px;
  background-color: #00CC00;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}

.main__games__audio-challange__answerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.main__games__audio-challange__buttonAnswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 80px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  background-color: #5CCCCC;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}

.main__games__audio-challange__buttonAnswer[data-answer='yes'] {
  font-size: 1.3rem;
  background-color: #00CC00;
  transform: scale(1.5);
  transition: 0.2s;
}

.main__games__audio-challange__buttonAnswer[data-answer='no'] {
  background-color: #FF0000;
}

.main__games__audio-challange__containerPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.main__games__audio-challange__containerPanel-buttonVolume {
  width: 30px;
  height: 30px;
  background: no-repeat center url('../src/assets/svg/volume.svg');
  cursor: pointer;
}

.main__games__audio-challange__containerPanel-buttonVolume:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

.main__games__audio-challange__containerPanel-counter {
  font-size: 2rem;
}

.main__games__audio-challange__containerPanel-fullScreen {
  width: 30px;
  height: 30px;
  background: no-repeat center url('../src/assets/svg/maximize.svg');
  cursor: pointer;
}

.main__games__audio-challange__containerPanel-fullScreen:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

/*------------------------Game-Audio-result--------------------------*/

.result {
  display: flex;
  flex-direction: column;
}

.result__title {
  font-family: 'Kalam';
  font-size: 4rem;
  text-align: center;
}

.result__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.result__statistic-box {
  display: flex;
  flex-direction: column;
}

.result__accuracy,
.result__accuracyNum {
  align-self: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 4rem;
}

.result__correct,
.result__in-row,
.result__wrong {
  align-self: center;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2rem;
}

.result-answer,
.result-wrong {
  display: flex;
  flex-direction: column;
}

.result-answer__plus,
.result-wrong__minus {
  width: 35px;
  height: 35px;
  align-self: center;

}

.result-answer__plus {
  background-image: url(../src/assets/svg/success.svg);
}

.result-wrong__minus {
  background-image: url(../src/assets/svg/wrong.svg);
}

.result-answer__name,
.result-wrong__name {
  align-self: center;
}

.result-answer__container,
.result-wrong__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  font-size: 1.5rem;
}

.result__sound-wrong,
.result__sound-answer {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-color: #6C8CD5;
  background-image: url(../src/assets/svg/speaker.svg);
}

.result__sound-wrong:hover,
.result__sound-answer:hover {
  background-color: #67E667;
}

.result__sound-wrong:active,
.result__sound-answer:active {
  background-color: #67E667;
  transform: scale(0.8);
}

.result__word {
  margin-right: 5px;
}

/*---------------------------------------------------------------------*/


.sprint {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
  
  .sprint__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .sprint__title {
  font-size: 6rem;
  }
  
  .sprint__score {
  font-size: 6rem;
  }
  
  .sprint__card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 400px;
  background-color: #2299eb;
  border-radius: 25px;
  }
  
  .sprint__panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  width: 150px;
  }
  
  .mark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fd0000;
  }
  
  .sprint__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: 'Kalam';
  font-size: 4rem;
  }
  
  .sprint__word {
    margin-top: 5%;
  font-size: 2rem;
  }

  .sprint__translate {
    margin-top: 5%;
  }
  
  .sprint__buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

  .sprint__button-false {
  background-color: #fd0000;
  width: 110px;
  height: 50px;
  border-radius: 5px;
  }
  
  .sprint__button-true {
  background-color: #08aa05;
  width: 110px;
  height: 50px;
  border-radius: 5px;
  }