@import url(https://fonts.googleapis.com/css?family=Kalam:300,regular,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page {
  display: flex;
  flex-direction: column;
  justify-items: start;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 2% 2%;
  background-color: #FF7400;
}

.header__logo {
  font-family: Impact;
  font-size: 50px;
}

.header__currentTitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header__log-in {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0.5em 0;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-items: start;
  width: 100%;
  min-height: 853px;
}

.aside {
  width: 15%;
  padding: 0 0 0 2%;
  background-color: #A63E00;
}

.nav {
  width: 100%;
  font-size: 2rem;
  background-color: #A63E00;
}

.nav__ul {
  width: 100%;
  list-style-type: none;
  text-transform: capitalize;

  margin-bottom: 10px;
}

.nav__li {
height: 30px;
vertical-align: middle;
cursor: pointer;
}

.nav__li.active {
  background-color: #FFB273;
}

.main {
  width: 85%;
  padding: 0 2%;
  background-color: #FFB273;
}
/*-------------------------------home----------------------------------*/
.main__home-title {
  margin-top: 5%;
  margin-bottom: 60px;
  font-family: 'Kalam';
  font-size: 60px;
  text-align: center;
}

.main__home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content:space-around;
  padding: 0 5%;
  height: 800px;
}

.main__home-box {
width: 460px;
height: 360px;
margin-bottom: 30px;
}

.main__home-img {
  width: 80px;
  height: 80px;
  margin-left: 170px;
  margin-bottom: 30px;
  background-color: #FF7400;
  cursor: pointer;
}

.main__home-img:focus,
.main__home-img:hover {
  transform: scale(1.4);
  transition: 0.4s;
}

.main__home-text {
  display: block;
  font-family: 'Kalam';
  font-size: 40px;
}
/*-----------------------------------end home-------------------------------------*/



/*----------------------------------statistics------------------------------------*/
.main__statistics-title {
  margin-top: 5%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 6rem;
  
}

.main__statistics__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.main__statistics__containerWords {
  display: flex;
  flex-direction: column;
}

.main__statistics__boxWords-wordsCount {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 6rem;
}

.main__statistics__boxWords-p1 {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2rem;
}

.main__statistics__boxWords-p2 {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;
}

.main__statistics__boxAccuracy {
  margin-top: 20%;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 4rem;
}

.main__statistics__containerGames {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
}

.main__statistics__boxGames {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2rem;
}

.main__statistics__boxGames-img {
  margin: auto;
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: #A63E00;
}

.main__statistics__boxGames-nameGame {
  font-family: 'Kalam';
  font-size: 40px;
}

/*--------------------------------end statistics----------------------------------*/


.textbook__games {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-around;
}

.textbook__games button {
  height: 50px;
  width: 100px;
  border: none;
}

.textbook__cards-pages {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  width: 360px;
  list-style-type: none;
}

.textbook__cards-pages li {
  width: 40px;
  margin: 0 10px;
}

.cards-pages__page-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
}

.cards-block__card {
  display: flex;
  margin-top: 30px;
}

.main__games {
  display: flex;
  justify-content: space-around;
}

.main__games-audio {
  height: 200px;
  width: 400px;
  margin-top: 300px;
  border: 1px solid black;
  text-align: center;
}

.main__games-sprint {
  height: 200px;
  width: 400px;
  margin-top: 300px;
  border: 1px solid black;
  text-align: center;
}

.main__about {
  display: flex;
  justify-content: space-around;
}

.about-kirill {
  width: 400px;
  margin-top: 200px;
  border: 1px solid black;
  text-align: center;
}

.about-igor {
  width: 400px;
  margin-top: 200px;
  border: 1px solid black;
  text-align: center;
}

.about_avatar {
  width: 350px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  background-color: #FF7400;
  padding: 0 2%;
}

.footer__author {
  text-decoration: none;
  color: #000000;
}

.footer__author:focus,
.footer__author:hover {
  color: #67E667;
}

/*-----------Game-Audio--------------------------*/

.main__games__audioChallange {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
  height: 100%;
}

.main__games__audioChallange-img {
  width: 250px;
  height: 250px;
  background-color: #5CCCCC;
}

.main__games__audioChallange-buttonSound {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: no-repeat center url('../src/assets/svg/sound.svg');
  background-color: #4671D5;
  cursor: pointer;
}

.main__games__audioChallange-buttonSkip {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 1.7rem;
  border-radius: 20px;
  background-color: #FF4040;
  cursor: pointer;
}

.main__games__audioChallange__answerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.main__games__audioChallange__buttonAnswer {
  width: 180px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  background-color: #39E639;
  cursor: pointer;
}

.main__games__audioChallange__containerPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.main__games__audioChallange__containerPanel-buttonVolume {
  width: 30px;
  height: 30px;
  background: no-repeat center url('../src/assets/svg/volume.svg');
  cursor: pointer;
}

.main__games__audioChallange__containerPanel-buttonVolume:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

.main__games__audioChallange__containerPanel-counter {
  font-size: 2rem;
}

.main__games__audioChallange__containerPanel-fullScreen {
  width: 30px;
  height: 30px;
  background: no-repeat center url('../src/assets/svg/maximize.svg');
  cursor: pointer;
}

.main__games__audioChallange__containerPanel-fullScreen:hover {
  transform: scale(1.5);
  transition: 0.4s;
}
