@import url(https://fonts.googleapis.com/css?family=Kalam:300,regular,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  justify-items: start;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 2% 2%;
  background-color: #FF7400;
}

.header__logo {
  font-family: Impact;
  font-size: 50px;
}

.header__currentTitle {
  font-family: 'Kalam';
  font-size: 40px;
  text-transform: uppercase;
}

.header__log-in {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0.5em 0;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-items: start;
  width: 100%;
  min-height: 1077px;
}

.aside {
  width: 15%;
  padding: 0 0 0 2%;
  background-color: #A63E00;
}

.nav {
  width: 100%;
  font-size: 2rem;
  background-color: #A63E00;
}

.nav__ul {
  width: 100%;
  list-style-type: none;
  text-transform: capitalize;

  margin-bottom: 10px;
}

.nav__li {
height: 30px;
vertical-align: middle;
cursor: pointer;
}

.nav__li.active {
  background-color: #FFB273;
}

.main {
  width: 85%;
  padding: 0 2%;
  background-color: #FFB273;
}

.main__title {
  margin-top: 5%;
  font-family: 'Kalam';
  font-size: 60px;
  text-align: center;
}

.main__img {
  width: 50px;
  height: 50px;
  background-color: #FF7400;
  cursor: pointer;
}

.main__text {
  display: block;
  width: 450px;
  font-family: 'Kalam';
  font-size: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  background-color: #FF7400;
  padding: 0 2%;
}