@import url(https://fonts.googleapis.com/css?family=Kalam:300,regular,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page {
  display: flex;
  flex-direction: column;
  justify-items: start;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 2% 2%;
  background-color: #FF7400;
}

.header__logo {
  font-family: Impact;
  font-size: 50px;
}

.header__currentTitle {
  font-family: 'Kalam';
  font-size: 40px;
  text-transform: uppercase;
}

.header__log-in {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0.5em 0;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-items: start;
  width: 100%;
  min-height: 1077px;
}

.aside {
  width: 15%;
  padding: 0 0 0 2%;
  background-color: #A63E00;
}

.nav {
  width: 100%;
  font-size: 2rem;
  background-color: #A63E00;
}

.nav__ul {
  width: 100%;
  list-style-type: none;
  text-transform: capitalize;

  margin-bottom: 10px;
}

.nav__li {
height: 30px;
vertical-align: middle;
cursor: pointer;
}

.nav__li.active {
  background-color: #FFB273;
}

.main {
  width: 85%;
  padding: 0 2%;
  background-color: #FFB273;
}

.main__home-title {
  margin-top: 5%;
  margin-bottom: 60px;
  font-family: 'Kalam';
  font-size: 60px;
  text-align: center;
}

.main__home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content:space-around;
  padding: 0 5%;
  height: 800px;
}

.main__home-box {
width: 460px;
height: 360px;
margin-bottom: 30px;
}

.main__home-mg {
  width: 80px;
  height: 80px;
  margin-left: 170px;
  margin-bottom: 30px;
  background-color: #FF7400;
  cursor: pointer;
}

.main__home-img:focus,
.main__home-img:hover {
  transform: scale(1.4);
  transition: 0.4s;
}

.main__home-text {
  display: block;
  font-family: 'Kalam';
  font-size: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  background-color: #FF7400;
  padding: 0 2%;
}

.footer__author {
  text-decoration: none;
  color: #000000;
}

.footer__author:focus,
.footer__author:hover {
  color: #67E667;
}